In [3]:
import yfinance as yf
import pandas as pd

stocks = ['AAPL', 'MSFT', 'AMZN', 'GOOG']

['AAPL', 'MSFT', 'AMZN', 'GOOG']

In [5]:
for stock in stocks:
    stock_data = yf.download(stock, start='2019-01-01', end='2024-01-01')
    stock_data = stock_data[['Open','High','Low','Close', 'Adj Close', 'Volume']]
    stock_data.to_csv(f'{stock}.csv')

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [6]:
stock_data = pd.read_csv('AAPL.csv')
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-01-02,38.722500,39.712502,38.557499,39.480000,37.893333,148158800
1,2019-01-03,35.994999,36.430000,35.500000,35.547501,34.118874,365248800
2,2019-01-04,36.132500,37.137501,35.950001,37.064999,35.575386,234428400
3,2019-01-07,37.174999,37.207500,36.474998,36.982498,35.496201,219111200
4,2019-01-08,37.389999,37.955002,37.130001,37.687500,36.172874,164101200